#Autosave files
*~

# Build/test output
obj/Debug
bin
test-results
Clockwise.userprefs
packages.config


# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
iOS/obj
packages
Droid/obj
Components
Clockwise/obj/Debug
Clockwise/obj
