#Autosave files
*~

# Build/test output
obj/Debug
bin
test-results

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/menu/sample_actions.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/mipmap-hdpi/ic_launcher.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare.UITests/Cheesesquare.UITests.csproj
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare.UITests/packages.config
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare.UITests/Tests.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Assets/AboutAssets.txt
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Properties/AndroidManifest.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Properties/AssemblyInfo.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/AboutResources.txt
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/Resource.designer.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_1.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_1_small.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_2.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_2_small.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_3.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_3_small.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_4.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_4_small.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_5.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/cheese_5_small.jpg
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable/icon.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_dashboard.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_discuss.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_done.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_event.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_forum.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_headset.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-hdpi/ic_menu.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_dashboard.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_discuss.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_done.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_event.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_forum.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_headset.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-mdpi/ic_menu.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_dashboard.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_discuss.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_done.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_event.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_forum.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_headset.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/packages.config
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/README.md
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/screenshot.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xhdpi/ic_menu.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_dashboard.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_discuss.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_done.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_event.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_forum.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_headset.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxhdpi/ic_menu.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxxhdpi/ic_done.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/drawable-xxxhdpi/ic_menu.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/activity_detail.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/activity_main.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/fragment_cheese_list.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/include_list_viewpager.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/list_item.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare.sln
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/CheeseDetailActivity.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/CheeseListFragment.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Cheeses.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Cheesesquare.csproj
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/LICENSE
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/MainActivity.cs
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/layout/nav_header.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/menu/drawer_view.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/mipmap-mdpi/ic_launcher.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/mipmap-xhdpi/ic_launcher.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/mipmap-xxhdpi/ic_launcher.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/mipmap-xxxhdpi/ic_launcher.png
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/values/colors.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/values/dimens.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/values/strings.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/values/styles.xml
Components/xamandroidsupportdesign-25.1.1.0/samples/Cheesesquare/Cheesesquare/Resources/values-v21/styles.xml
iOS/obj
packages
